.Container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
    height: 300px;
    border: solid 1px rgb(237, 237, 237);
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 15px ;

}

.Form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.input{
    width: 250px;

}