.CartItem{
    display: flex;
    width: 500px;
    justify-content: space-between;
    
    
}

.cartButton {
    display: flex;
    justify-content: space-around;
}

.CartItem-details{
    display: flex;
    width: 350px;
}

.CartItem-quantity{
    display: flex;
    ;
}

.CartItem-remove{
    background-color: red;
    color:white;
    border: 0;
}

@media (max-width: 768px) {
    .CartItem{
        display: flex;
        flex-direction: column;
        width: 280px;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        border: solid 1px grey;
        padding: 10px;
        gap: 5px;
    }
}